<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/peerjs.min.js"></script>
    <script>
      var friendId = "<%= friendId %>";
      if (friendId) console.log(`Friend ID: ${friendId}`);
    </script>
  </head>
  <body>
    <div class="container">
      <section class="video">
        <video class="cam" id="selfCam" muted></video>
        <video class="cam" id="friendCam" autoplay muted loop>
          <source src="/searching.mp4" type="video/mp4" />
        </video>
      </section>
      <section class="chat">
        <div id="display" class="display"></div>
        <div class="input">
          <input id="msg" type="text" />
          <button class="send" onclick="sendMessage()">Send</button>
        </div>
      </section>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
